@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap')
.login-container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    .login-box
        top: 100px
        width: 600px
        height: 820px
        background: #fff
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        img
            position: absolute
            width: 600px
            height: 500px
            background: none
        h2
            width: 500px
            background: none
            left: calc(50% - 204px/2 - 135px)
            top: calc(50% - 2px/2 - 7px)
            font-family: 'Comfortaa', cursive
            font-style: italic
            font-weight: 400
            font-size: 30px
            text-decoration: none
            line-height: 30px
            color: #13131A

        input
            left: calc(50% - 448px/2 - 12px)
            top: calc(50% - 62px/2 + 56px)
            box-sizing: border-box
            width: 470px
            height: 60px
            background: #FFFFFF
            border: 2px solid #097969
            border-radius: 8px
            font-family: 'Comfortaa', cursive
            font-style: italic
            font-weight: 400
            font-size: 14px
            line-height: 21px
            margin-bottom: 1rem
            padding: 8px
            z-index: 1
            &:focus
                outline-color: #00A36C !important
        .btn-box
            display: flex
            justify-content: space-between
            margin-top: 370px
            background: #fff
            padding: 5rem 5rem 2rem 5rem
        button
            border: none
            font-family: 'Comfortaa', cursive
            font-size: 14px
            font-weight: 500
            line-height: 36px
            color: #fff
            justify-content: center
            align-items: center
            width: 170px
            height: 50px
            background: #097969
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)
            transition: ease-in-out 0.6s
            text-transform: uppercase
            border-radius: 5px
            cursor: pointer
            &:hover
                background-color: #00A36C
        #google-id
            width: 450px
            height: 50px
            margin-left: 4.5rem
            text-align: center
            svg.google-icon
                background: none
                top: 5px
                margin: 0rem 1rem 0rem 0rem

@media (max-width: 600px)
    #google-id
        margin-right: 5rem
