@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap')
.login-container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    .login-box
        top: 125px
        width: 600px
        height: 760px
        background: #fff
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        img
            margin-left: 3.2rem
            position: absolute
            width: 500px
            height: 500px
            background: #fff
        h2
            width: 500px
            background: #fff
            left: calc(50% - 204px/2 - 135px)
            top: calc(50% - 2px/2 - 7px)
            font-family: 'Comfortaa', cursive
            font-style: italic
            font-weight: 400
            font-size: 30px
            text-decoration: underline
            line-height: 30px
            color: #13131A
        input
            left: calc(50% - 448px/2 - 12px)
            top: calc(50% - 62px/2 + 56px)
            box-sizing: border-box
            width: 470px
            height: 60px
            background: #FFFFFF
            border: 2px solid #097969
            border-radius: 8px
            font-family: 'Roboto'
            font-style: italic
            font-weight: 400
            font-size: 18px
            line-height: 21px
            margin-bottom: 1rem
            padding: 8px
        .btn-box
            display: flex
            justify-content: space-between
            margin-top: 390px
            background: #fff
            padding: 3.7rem
        button
            border: none
            font-family: 'Roboto Flex'
            font-size: 16px
            font-weight: bold
            line-height: 36px
            color: #fff
            justify-content: center
            align-items: center
            width: 170px
            height: 50px
            background: #097969
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)
            transition: ease-in-out 0.7s
            &:hover
                background-color: #00A36C
