.post-content
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    .post-content_textarea
        position: absolute
        width: 385px
        height: 165px
        left: 650px
        top: 180px
        h2
            font-family: 'Comfortaa', cursive
            font-style: italic
            font-weight: 400
            font-size: 30px
            text-decoration: none
            line-height: 30px
            color: #13131A
            background-color: #fff
        p
            padding: 1rem 0rem 1rem 0rem
            font-family: 'Roboto'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 32px
            color: #737380
            background-color: #fff
        a
            font-family: 'Roboto'
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 16px
            background-color: #fff
            color: #41414D
            text-decoration: none
            transition: ease-in-out 0.6s
            &:hover
                color: #00A36C
            svg
                top: 3.8px
                background: none
                padding: 0rem 1rem 0rem 0rem
                color: #097969

    .post-content_formarea
        display: flex
        justify-content: space-between
        position: absolute
        width: 450px
        height: 400px
        left: 70px
        top: 50px
        .label-upload
            background-color: #dfdfdf
            margin-bottom: 1em
            border-radius: 50%
            object-fit: cover
            width: 180px
            height: 180px
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            cursor: pointer
            input.upload
                display: none
            span
                z-index: 99
                position: absolute
                opacity: 0.7
                transition: all 0.5s
                &:hover
                    opacity: 1
                    transform: scale(1.2)
        textarea
            width: 450px
            height: 220px
            padding: 8px
            margin-top: 1rem
            right: 10rem
            border-radius: 5px
            resize: none
            border: 2px solid #097969
            border-radius: 8px
            font-family: 'Roboto', sans-serif
            font-style: italic
            font-weight: 400
            font-size: 14px
            line-height: 21px
            z-index: 1
            &:focus
                outline-color: #00A36C !important
        input
            margin: 1rem 0rem 0rem 2rem
            box-sizing: border-box
            width: 270px
            height: 60px
            background: #FFFFFF
            border: 2px solid #097969
            border-radius: 8px
            font-family: 'Roboto', sans-serif
            font-style: italic
            font-weight: 400
            font-size: 14px
            line-height: 21px
            margin-bottom: 1rem
            padding: 8px
            z-index: 1
            &:focus
                outline-color: #00A36C !important
